<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/product-header.css" />
		<link rel="stylesheet" href="../css/product-footer.css" />
		<link rel="stylesheet" href="../css/order.css" />
		<link rel="stylesheet" href="../css/dialog.css" />
		<link rel="stylesheet" href="../css/popup-window.css" />
	</head>
	<body>
		<div id="order-page">
			<div class="address-container" onclick="showChooseWindow()">
				<div class="container">
					<div class="row address-choose-container"  v-show="!isShowAddress">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<img src="../img/20172001.jpg"/>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<p>选择收获地址</p>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-1">
							<i class="icon-angle-right"></i>
						</div>
					</div>
					<div class="address-content"  v-show="isShowAddress">
						<div class="address-icon">
							<input type="radio" />
						</div>
						<div class="address-message">
							<div class="address-user-message">
								<p>{{addressMessage.name}}</p>
								<p>{{addressMessage.tel}}</p>
							</div>
							<div class="address-user-addr">
								<p>收货地址：{{addressMessage.address}}</p>
							</div>
						</div>
						<div class="address-choose-icon">
							<i class="icon-angle-right"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="store-name">
				<div class="container">
					<i class="icon-home"></i>
					<p>泊心风物</p>
				</div>
			</div>
			<div>
				<div class="order-message">
					<div class="container order-message-container">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4">
								<img :src="productMessage.imgurl" />
							</div>
							<div class="col-md-5 col-sm-5 col-xs-5">
								<p class="font-size-medium">{{productMessage.name}}</p>
								<p class="font-size-medium">{{productMessage.standard}}</p>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3">
								<p class="font-size-medium">{{productMessage.price}}</p>
								<div class="product-count">
									<p class="font-size-medium">{{productMessage.count}}</p><p>X</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="delivery-way">
				<div class="container">
					<p class="delivery-left-p">配送方式</p>
					<p class="delivery-right-p">快递发货</p>
				</div>
			</div>
			<div id="buy-message-container" class="buyer-message">
				<div class="container">
					<div class="buy-message-title">
						<p>买家留言：</p>
					</div>
					<textarea id="buy-message" class="textaera-div"></textarea>
				</div>
			</div>
			<div class="favoravle-container">
				<div class="container">
					<p>优惠</p>
					<div class="favoravle-tab">
						<p>使用优惠</p>
						<i class="icon-angle-right"></i>
					</div>
				</div>
			</div>
			<div class="order-total">
				<div class="container">
					<div class="product-price-content">
						<p>商品金额</p>
						<div class="product-price">
							<p>￥</p><p>88.00</p>
						</div>
					</div>
					<div class="delivery-price-content">
						<p>运费</p>
						<div class="delivery-price">
							<p>+￥</p><p>0.00</p>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="order-footer">
					<div class="order-submit">
						<p>提交订单</p>
					</div>
					<div class="order-total-cost">
						<p class="font-size-medium">合计：</p>
						<p>{{totalCost}}</p>
					</div>
				</div>
			</footer>
		</div>
		
		<div id="address-aera-choose">
			<address-dialog v-if="isShowDialog" >
				<p slot="dialog-header">
					{{title}}
				</p>
				<ul slot="dialog-content" id="address-dialog">
					<li 
						v-for="(addressList,index) in aera" 
						v-bind:key="addressList">
						<p onclick="selectAddress($(this).text())">{{addressList[1]}}</p>
					</li>
				</ul>
				<p slot="dialog-footer"></p>
			</address-dialog>
		</div>
		<div id="address-choose">
				<choose-address-window 
					v-show="isShowChooseWindow" 
					@close="removeChooseWindow()" 
					@shownewwindow="showOneBtnWindow()" 
					@showeditwindow="showTwoBtnWindow()"
					@chooseaddr="chooseAddress(1)"
					:addressitem="addressItems">
				</choose-address-window>
				 <new-address-window 
				 	v-show="isShowEditWindow" 
				 	@close="removeEditWindow()" 
				 	@chooseprovince="chooseProvince()" 
				 	@choosecity="chooseCity()" 
				 	@chooseregion="chooseRegion()"
				 	:addressregion="addressRegion">
				 	<p name="edit-window-title">
				 		{{editTitle}}
				 	</p>
				 	<div slot="popup-btn-container">
				 		<button class="btn btn-success">保存</button> 
						<button class="btn btn-danger" v-show="isOneButton">删除</button>
				 	</div>
				 </new-address-window>
			</div>
		<!--选择地址的popupwindow模板-->
		<script type="text/x-template" id="popup-window-address-choose">
			<transition name="popup-window-transition">
				<div class="popup-window-modal-mask">
					<div class="popup-window-modal-wrapper">
						<div class="popup-window-modal-container">
							<div class="container">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="address-choose-title">
											<p>选择收货地址</p>
											<button v-on:click="$emit('close')"><i class="icon-remove"></i></button>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="address-list">
											<ul>
												<li v-for="(address,index) in addressitem" 
													v-bind:key="address"
													v-on:click="chooseAddressOfIndex(index)">
													<div class="address-item-radio">
														<input type="radio" />
													</div>
													<div class="address-item-message">
														<div class="product-receiver">
															<p>{{address.name}}</p>
															<p>{{address.tel}}</p>
														</div>
														<div class="receiver-address">
															<p>收货地址：{{address.address}}</p>
														</div>
													</div>
													<div class="address-edit-button">
														<i class="icon-edit" v-on:click="$emit('showeditwindow')"></i>
													</div>
												</li>
											</ul>
											<div class="add-address-button">
												<button class="btn btn-primary" v-on:click="$emit('shownewwindow')">新建收货地址</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</script>
		<!--新建地址popupwindow模板-->
		<script type="text/x-template" id="popup-window-address-new">
			<transition name="popup-window-transition">
				<div class="popup-window-modal-mask">
					<div class="popup-window-modal-wrapper">
						<div class="popup-window-modal-container">
							<div class="container address-message-content">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12 address-message-list">
										<div class="address-choose-title">
											<slot name="edit-window-title">
												<p>新建收货地址</p>
											</slot>
											<button v-on:click="$emit('close')"><i class="icon-remove"></i></button>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 address-message-list">
										<p>收货人</p>
										<input type="text" :value="addressregion.name" placeholder="名字"/>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 address-message-list">
										<p>选择地区</p>
										<ul>
											<li v-on:click="$emit('chooseprovince')">{{addressregion.province}}</li>
											<li v-on:click="$emit('choosecity')">{{addressregion.city}}</li>
											<li v-on:click="$emit('chooseregion')">{{addressregion.region}}</li>
										</ul>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 address-message-list">
										<p>联系电话</p>
										<input type="text" :value="addressregion.tel" placeholder="手机号或固定电话"/>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 address-message-list">
										<p>详细地址</p>
										<input type="text" :value="addressregion.road" placeholder="如街道、楼层、门牌号等"/>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 address-message-list">
										<p>邮政编码</p>
										<input type="text" :value="addressregion.postcode" placeholder="邮政编码(选填)"/>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 address-operator-button">
										<slot name="popup-btn-container">
											<button class="btn btn-success">保存</button>
											<button class="btn btn-danger">删除</button>
										</slot>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</script>
		<script type="text/x-template" id="address-dialog-modal">
			<transition name="dialog">
				<div class="dialog-modal-mask">
					<div class="dialog-modal-wrapper">
						<div class="dialog-modal-container"> 
							<div class="dialog-header">
								<slot name="dialog-header">
								</slot>
							</div>
							<div class="dialog-content">
								<slot name="dialog-content">
								</slot>
							</div>
							<div class="dialog-footer">
								<slot name="dialog-footer">
									
								</slot>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</script>
		<script type="text/javascript" src="../js/jquery-3.2.1.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript" src="../js/order.js" ></script>
		<script type="text/javascript" src="../js/address-choose-dialog.js" ></script>
	</body>
</html>
