<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/product.css" />
		<link rel="stylesheet" href="../css/dialog.css" />
		<link rel="stylesheet" href="../css/popup-window.css" />
	</head>
	<body>
		<!--页面title-->
		<header class="fixed-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="menu-wrapper">
							<a><i class="icon-angle-left"></i></a>
							<p>产品</p>
						</div>	
					</div>
				</div>
			</div>
		</header>
		<!--space撑空间-->
		<div class="space"></div>
		<!--页面内容-->
		<div class="product-container">
			<div class="container-all-width">
				<div class="">
					<div class="">
						<div id="product-img-slider" class="product-img-turn">
							<img src="../img/20172001.jpg" />
						</div>
						<div class="product-price-label">
							<p class="price-text-small">￥</p>
							<p class="price-text-large">199.0</p>
						</div>
						<div class="product-name-label">
							<p>运动哈哈运动哈哈运动哈哈运动哈哈运动哈哈运动哈哈运动哈</p>
						</div>
						<div class="product-sales-volume">
							<div class="product-transport-fare">
								<p>运费：</p><p>免运费</p>
							</div>
							<div class="product-sales-fare">
								<p>销量：</p><p>668</p>
							</div>
						</div>
						<div class="product-standard">
							<div onclick="showPopupWindow()">
								<p>选择：规格</p>
								<i class="icon-angle-right"></i>
							</div>
						</div>
						<div class="product-detail-appraise">
							<div class="product-detail-appraise-title">
								<p id="product-detaile-title" class="product-tab-title-bottom-line" onclick="productDetailTabClick(1)">商品详情</p>
								<p id="product-appraise-title" onclick="productDetailTabClick(2)">销量和评价</p>
							</div>
							<div class="product-detail-appraise-container">
								<div id="product-detail" class="product-detail-container">
									<ul>
										<li v-for="img in imgurls" v-bind:key="img">
											<img :src="img.imgurl"/>
										</li>
									</ul>
								</div>
								<div id="product-appraise" class="product-appraise-container">
									<div class="product-appraise-content">
										<div class="product-appraise-user container">
											<ul>
												<li v-for="appraise in userappraise" v-bind:key="appraise">
													<div class="row">
														<div class="col-md-2 col-sm-2 col-xs-3">
															<img :src="appraise.userimg"/>
														</div>
														<div class="col-md-10 col-sm-10 col-xs-9">
															<p>{{appraise.username}}</p>
															<p>{{appraise.time}}</p>
														</div>
														<div class="col-md-12 col-sm-12 col-xs-12">
															<p>{{appraise.userappraise}}</p>
														</div>
														<div class="product-appraise-return col-md-12 col-sm-12 col-xs-12">
															<p v-if="showSellerReturn">{{appraise.sellerreturn}}</p>
														</div>
													</div>
												</li>		
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="dialog-div">
			<dialog-component id="dialog-modal-me" v-if="showModal" @close="showModal = false" :message="message">
			</dialog-component>
		</div>
		<div id="popup-window-div">
			<popup-window v-if="isShow" @close="dismiss()" :productitem="productMessage"></popup-window>
		</div>
		<!--页面底部选项-->
		<footer class="fixed-footer">
			<div class="fixed-footer-wrapper">
				<div class="footer-tab-btn1">
					<i class="icon-shopping-cart"></i>
					<p>购物车</p>
				</div>
				<div class="footer-tab-btn3">
					<p>立即购买</p>
				</div>
				<div class="footer-tab-btn2">
					<p onclick="showPopupWindow()">加入购物车</p>
				</div>
			</div>
		</footer>
		<!--对话框模板-->
		<script type="text/x-template" id="dialog-modal">
			<transition name="dialog">
				<div class="dialog-modal-mask">
					<div class="dialog-modal-wrapper">
						<div class="dialog-modal-container"> 
							<div class="dialog-header">
								<slot name="dialog-header">
									提示
								</slot>
							</div>
							<div class="dialog-content">
								<slot name="dialog-content">
									{{message}}
								</slot>
							</div>
							<div class="dialog-footer">
								<slot name="dialog-footer">
									<p class="dialog-button-left">取消</p>
									<p class="dialog-button-right" @click="$emit('close')">确认</p>
								</slot>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</script>
		<!--产品规格选择popupwindow-->
		<script type="text/x-template" id="popup-window-modal">
			<transition name="popup-window-transition">
				<div class="popup-window-modal-mask">
					<div class="popup-window-modal-wrapper">
						<div class="popup-window-modal-container">
							<div class="product-detail container">
								<slot name="product-detail">
									<div class="row">
										<div class="product-img-pop col-md-2 col-sm-2 col-xs-3">
											<img :src="productitem[0].imgurl" />
										</div>
										<div class="product-price-name col-md-9 col-sm-9 col-xs-8">
											<p>{{productitem[0].name}}</p>
											<p>{{productitem[0].price}}</p>
										</div>
										<div class="product-pop-remove col-md-1 col-sm-1 col-xs-1">
											<button @click="$emit('close')"><i class="icon-remove"></i></button>
											
										</div>
									</div>
								</slot>
							</div>
							<div class="product-standard-pop">
								<p>standard:</p>
								<div class="product-standard-ul">
									<ul>
										<li v-for="label in productitem[0].labels" v-bind:key="label">
											{{label.label}}
										</li>
									</ul>
								</div>
							</div>
							<div class="product-sale-count">
								<p>count:</p>
								<div class="product-count-caculator">
									<p>-</p><p>1</p><p>+</p>
								</div>
							</div>
							<div class="product-operator">
								<div class="product-add-shopcart product-operator-half-width">
									<p>shopcart</p>
								</div>
								<div class="product-buy-now product-operator-half-width">
									<p>buy now</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</script>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript" src="../js/iSlider.js" ></script>
		<script type="text/javascript" src="../js/unslider.min.js" ></script>
		<script type="text/javascript" src="../js/product.js" ></script>
		<script type="text/javascript" src="../js/dialog.js" ></script>
		<script type="text/javascript" src="../js/popup-window.js" ></script>
	</body>
</html>
