<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!-- UC强制全屏 -->
    	<meta name="full-screen" content="yes">
   		<!-- QQ强制全屏 -->
    	<meta name="x5-fullscreen" content="true">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" href="../css/dropload.css" />
		<link rel="stylesheet" href="../css/order-list.css" />
	</head>
	<body>
		<!--页面title-->
		<header class="fixed-header">
			<div class="menu-wrapper">
				<ul class="navbar-ul-5">
					<li id="tab-1" class="tab-choosed" onclick="tabClick(0)"><a>待付款</a></li>
					<li id="tab-2" onclick="tabClick(1)"><a>待发货</a></li>
					<li id="tab-3" onclick="tabClick(2)"><a>待收货</a></li>
					<li id="tab-4" onclick="tabClick(3)"><a>已完成</a></li>
					<li id="tab-5" onclick="tabClick(4)"><a>已取消</a></li>
				</ul>
			</div>				
		</header>
		<div class="space"></div>
		<div class="order-list-container" id="order-list">
			<!--全部订单-->
			<div class="order-list"  v-if="ShowTabIndex[0]" id="order-pay-list">
				<ul>
					<li v-for="order in orderPay" :key="order.id">
						<div class="container">
							<div class="row">
								<div class="col-md-5 col-sm-10 col-xs-9">
									<div class="order-no">
										<p>订单编号：{{order.no}}</p>
									</div>
								</div>
								<div class="col-md-1 col-sm-2 col-xs-3">
									<div class="order-status">
										<p>{{order.status}}</p>
									</div>
								</div>
								<div class="order-message-container order-message">
									<div class="col-md-2 col-sm-4 col-xs-4">
										<img :src="order.imgurl"/>
									</div>
									<div class="col-md-3 col-sm-5 col-xs-5">
										<p class="font-size-medium">{{order.name}}</p>
										<p class="font-size-medium">{{order.standard}}</p>
									</div>
									<div class="col-md-1 col-sm-3 col-xs-3">
										<p class="font-size-medium">{{order.pTotal}}</p>
										<div class="product-count">
											<p class="font-size-medium">{{order.count}}</p><p>X</p>
										</div>
									</div>
								</div>
								<div class="order-total-cost">
									<div class="col-md-6 col-sm-12 col-xs-12 border-bottom-divider">
										<p>合计：{{order.total}}</p>
									</div>
								</div>
								<div class="order-operator">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<button>取消订单</button>
										<button>付款</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--待发货-->
			<div class="order-list" v-if="ShowTabIndex[1]" id="order-send-list">
				<ul>
					<li v-for="order in orderSend" :key="order.id">
						<div class="container">
							<div class="row">
								<div class="col-md-5 col-sm-10 col-xs-9">
									<div class="order-no">
										<p>订单编号：{{order.no}}</p>
									</div>
								</div>
								<div class="col-md-1 col-sm-2 col-xs-3">
									<div class="order-status">
										<p>{{order.status}}</p>
									</div>
								</div>
								<div class="order-message-container order-message">
									<div class="col-md-2 col-sm-4 col-xs-4">
										<img :src="order.imgurl"/>
									</div>
									<div class="col-md-3 col-sm-5 col-xs-5">
										<p class="font-size-medium">{{order.name}}</p>
										<p class="font-size-medium">{{order.standard}}</p>
									</div>
									<div class="col-md-1 col-sm-3 col-xs-3">
										<p class="font-size-medium">{{order.pTotal}}</p>
										<div class="product-count">
											<p class="font-size-medium">{{order.count}}</p><p>X</p>
										</div>
									</div>
								</div>
								<div class="order-total-cost">
									<div class="col-md-6 col-sm-12 col-xs-12 border-bottom-divider">
										<p>合计：{{order.total}}</p>
									</div>
								</div>
								<div class="order-operator">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<button @click="urgeOrder(index)">催单</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--待收货-->
			<div class="order-list" v-if="ShowTabIndex[2]" id="order-receive-list">
				<ul>
					<li v-for="(order,index) in orderReceive" :key="order.id">
						<div class="container">
							<div class="row">
								<div class="col-md-5 col-sm-10 col-xs-9">
									<div class="order-no">
										<p>订单编号：{{order.no}}</p>
									</div>
								</div>
								<div class="col-md-1 col-sm-2 col-xs-3">
									<div class="order-status">
										<p>{{order.status}}</p>
									</div>
								</div>
								<div class="order-message-container order-message">
									<div class="col-md-2 col-sm-4 col-xs-4">
										<img :src="order.imgurl"/>
									</div>
									<div class="col-md-3 col-sm-5 col-xs-5">
										<p class="font-size-medium">{{order.name}}</p>
										<p class="font-size-medium">{{order.standard}}</p>
									</div>
									<div class="col-md-1 col-sm-3 col-xs-3">
										<p class="font-size-medium">{{order.pTotal}}</p>
										<div class="product-count">
											<p class="font-size-medium">{{order.count}}</p><p>X</p>
										</div>
									</div>
								</div>
								<div class="order-total-cost">
									<div class="col-md-6 col-sm-12 col-xs-12 border-bottom-divider">
										<p>合计：{{order.total}}</p>
									</div>
								</div>
								<div class="order-operator">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<button @click="confirmReceive(index)">确认收货</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--已完成订单-->
			<div class="order-list" v-if="ShowTabIndex[3]" id="order-complete-list">
				<ul>
					<li v-for="(order,index) in orderComplete" :key="order.id">
						<div class="container">
							<div class="row">
								<div class="col-md-5 col-sm-10 col-xs-9">
									<div class="order-no">
										<p>订单编号：{{order.no}}</p>
									</div>
								</div>
								<div class="col-md-1 col-sm-2 col-xs-3">
									<div class="order-status">
										<p>{{order.status}}</p>
									</div>
								</div>
								<div class="order-message-container order-message">
									<div class="col-md-2 col-sm-4 col-xs-4">
										<img :src="order.imgurl"/>
									</div>
									<div class="col-md-3 col-sm-5 col-xs-5">
										<p class="font-size-medium">{{order.name}}</p>
										<p class="font-size-medium">{{order.standard}}</p>
									</div>
									<div class="col-md-1 col-sm-3 col-xs-3">
										<p class="font-size-medium">{{order.pTotal}}</p>
										<div class="product-count">
											<p class="font-size-medium">{{order.count}}</p><p>X</p>
										</div>
									</div>
								</div>
								<div class="order-total-cost">
									<div class="col-md-6 col-sm-12 col-xs-12 border-bottom-divider">
										<p>合计：{{order.total}}</p>
									</div>
								</div>
								<div class="order-operator">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<button @click="buyAgainComplete(index)">再次购买</button>
										<!--<button>评价</button>-->
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--已取消订单-->
			<div class="order-list" v-if="ShowTabIndex[4]" id="order-cancel-list">
				<ul>
					<li v-for="(order,index) in orderCancel" :key="order.id">
						<div class="container">
							<div class="row">
								<div class="col-md-5 col-sm-10 col-xs-9">
									<div class="order-no">
										<p>订单编号：{{order.no}}</p>
									</div>
								</div>
								<div class="col-md-1 col-sm-2 col-xs-3">
									<div class="order-status">
										<p>{{order.status}}</p>
									</div>
								</div>
								<div class="order-message-container order-message">
									<div class="col-md-2 col-sm-4 col-xs-4">
										<img :src="order.imgurl"/>
									</div>
									<div class="col-md-3 col-sm-5 col-xs-5">
										<p class="font-size-medium">{{order.name}}</p>
										<p class="font-size-medium">{{order.standard}}</p>
									</div>
									<div class="col-md-1 col-sm-3 col-xs-3">
										<p class="font-size-medium">{{order.pTotal}}</p>
										<div class="product-count">
											<p class="font-size-medium">{{order.count}}</p><p>X</p>
										</div>
									</div>
								</div>
								<div class="order-total-cost">
									<div class="col-md-6 col-sm-12 col-xs-12 border-bottom-divider">
										<p>合计：{{order.total}}</p>
									</div>
								</div>
								<div class="order-operator">
									<div class="col-md-6 col-sm-12 col-xs-12">
										<button @click="buyAgainCancel()">再次购买</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="../js/jquery.cookie-1.4.1.min.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.js" ></script>
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript" src="../js/dropload.js" ></script>
		<script type="text/javascript" src="../js/order-list.js" ></script>
	</body>
</html>
