<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"  />
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/shop-cart.css" />
		<link rel="stylesheet" href="../css/dialog.css" />
	</head>
	<body>
		<!--页面title-->
		<header class="fixed-header">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="menu-wrapper">
							<a href="index.html"><i class="icon-angle-left icon-2x"></i></a>
							<p>购物车</p>
						</div>	
					</div>
				</div>
			</div>
		</header>
		<!--space撑空间-->
		<div class="space"></div>
		<div class="shop-order-container" id="shop-cart">
			<div class="shop-order-tip" v-show="isShowTip">
				<h4>空空如也<a href="index.html">去逛逛~</a></h4>
			</div>
			<div class="">
				<div class="shop-order-list">
					<ul>
						<li v-for="(shopOrder, index) in shopOrderList"
							:key="shopOrder.id">
							<div>
								<div class="shop-order-type">
									<i class="icon-home icon-large">泊心风物</i>
									<p @click="deleteOrder(index)">删除</p>
								</div>
								<div class="shop-order-content">
									<div class="shop-order-checkbox">
										<label class="input-check-bg" :class="{'input-check-bg-checked' : shopOrder.isChecked }"
											@click="checkItem(index)"></label>
									</div>
									<div class="shop-order-message">
										<img :src="shopOrder.imgurl" @click="gotoProductDetail(index)"/>
										<div class="shop-order-product-name" @click="gotoProductDetail(index)">
											<p>{{shopOrder.name}}</p>
											<p>{{shopOrder.standard}}</p>
										</div>
										<div class="shop-order-cost">
											<div class="shop-order-product-count">
												<button @click="subCount(index)"><i class="icon-minus"></i></button>
												<p>{{shopOrder.count}}</p>
												<button @click="addCount(index)"><i class="icon-plus"></i></button>
											</div>
											<div class="shop-order-product-price">
												<p>￥{{shopOrder.total}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<footer class="shop-order-footer"> 
				<div class="shop-order-all-check">
					<label id="check-all" class="input-check-bg" 
						@click="checkAll()"
						:class="{'input-check-bg-checked' : isCheckAll }">
					</label>
					<p>全选</p>
				</div>
				<div class="shop-order-pay" @click="submitOrder()">
					<p>结算</p>
				</div>
				<div class="shop-order-total">
					<p>合计: {{total}}</p>
					<p class="shop-order-total-p-height">不含运费</p>
				</div>
			</footer>
		</div>
		<div id="dialog-tip">
			<dialog-component v-if="!isShow"
				:message="message"
				@close="isShow = false"
				@confirm="confirm()"></dialog-component>
		</div>
		<!--对话框模板-->
		<script type="text/x-template" id="dialog-modal">
			<transition name="dialog">
				<div class="dialog-modal-mask">
					<div class="dialog-modal-wrapper">
						<div class="dialog-modal-container"> 
							<div class="dialog-header">
								<slot name="dialog-header">
									提示
								</slot>
							</div>
							<div class="dialog-content">
								<slot name="dialog-content">
									{{message}}
								</slot>
							</div>
							<div class="dialog-footer">
								<slot name="dialog-footer">
									<p class="dialog-button-left" @click="$emit('close')">取消</p>
									<p class="dialog-button-right" @click="$emit('confirm')">确认</p>
								</slot>
							</div>
						</div>
					</div>
				</div>
			</transition>
		</script>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="../js/jquery.cookie-1.4.1.min.js" ></script>
		<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../js/vue.min.js" ></script>
		<script type="text/javascript" src="../js/shop-cart.js" ></script>
	</body>
</html>
 