/*
 * 产品页header样式
 * */
.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 2px 2px 1px #CCCCCC;
	z-index: 99;
}

.fixed-header a {
	width: auto;
	line-height: 50px;
	color: #4D4D4D;
	text-decoration: none;
	float: left;
}

.fixed-header i {
	line-height: 50px;
}

.fixed-header p {
	line-height: 50px;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
}

.space {
	height: 65px;
}
/*
 * 收货地址样式
 * */
.address-list-container {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #CCCCCC;
}

.address-list-container h3 {
	font-size: 18px;
	color: #CCCCCC;
	text-align: center;
}

.address-list-container ul {
	width: 100%;
	height: auto;
	list-style: none;
	padding: 0;
}

.address-list-container ul li {
	width: 100%;
	height: auto;
	display: block;
}

.address-list-content {
	width: 100%;
	height: auto;
	display: table;
}

.address-icon {
	width: 10%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.address-message {
	width: 75%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
}

.address-message p {
	width: inherit;
	max-width: 100%;
	display: inline-block;
	font-size: 16px;
}

.address-edit-operator {
	width: 10%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.address-new-button {
	position: fixed;
	width: 100%;
	height: auto;
	bottom: 0;
}

.address-new-button button {
	width: 90%;
	height: 45px;
	margin: 5%;
	font-size: 18px;
}
