.dialog-modal-mask {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0,0.5);
	display: table;
    transition: opacity .3s ease;
	
}

.dialog-modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.dialog-modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.dialog-header h3 {
  margin-top: 0;
  color: #42b983;
}

.dialog-content {
  margin: 20px 0;
}

.dialog-button-right {
  float: right;
}

.dialog-button-left {
  float: left;
}