.fixed-header {
	position: fixed;
	top: 2px;
	left: 2%;
	right: 3%;
	min-height: 50px;
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 2px 2px 1px #CCCCCC;
	z-index: 99;
}

.fixed-header a {
	height: 50px;
	text-decoration: none;
}

.fixed-header a:hover {
	cursor: pointer;
}

.menu-wrapper {
	margin: 0 auto;
	display: block;
}

.navbar-title {
	font-weight: bold;
	font-family: "times new roman";
	line-height: 50px;
	display: inline-block;
}

.navbar-ul {
	margin: 0 auto;
	padding: 0 0 0 5px;
}

.navbar-ul li {
	width: auto;
	margin-right: 3%;
	margin-bottom: 3px;
	list-style: none;
	line-height: 50px;
	display: inline-block;
	border-bottom: 3px solid #AC2925;
}