.product-container {
	margin-bottom: 50px;
}

.container-all-width {
	width: 100%;
	padding: 0;
}

.product-img-turn {
	width: 100%;
	height: 45%;
}

.product-img-turn img {
	width: 100%;
	height: 45%;
}

.product-price-label {
	width: 100%;
	height:55px;
	background-color: #D9534F;
}

.product-price-label p {
	width: auto;
	line-height: 55px;
	margin-left: 3%;
	color: #FFFFFF;
	display: inline-block;
}

.price-text-small {
	font-size: 20px;
}

.price-text-large {
	font-size: 26px;
}

.product-name-label {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}

.product-name-label p {
	width: auto;
	height: auto;
	font-size: 18px;
	margin-left: 3%;
}

.product-sales-volume {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #CCCCCC;
}

.product-sales-volume p {
	width: auto;
	line-height: 40px;
	display: inline-block;
	color: #C0C0C0;
}

.product-transport-fare {
	display: inline-block;
	margin-left: 3%;
}

.product-sales-fare {
	display: inline-block;
	margin-left: 30%;
}

.product-standard {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #CCCCCC;
}

.product-standard p {
	line-height: 40px;
	margin-left: 3%;
	display: inline-block;
}

.product-standard i {
	line-height: 40px;
	margin-right: 3%;
	float: right;
}

.product-detail-container {
	width: 100%;
	height: auto;
}

.product-detail-appraise-title {
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
}

.product-detail-appraise-title p {
	width: 49%;
	line-height: 45px;
	text-align: center;
	display: inline-block;
}

.product-tab-title-bottom-line {
	border-bottom: 2px solid #D9534F;
}

.product-detail-container ul {
	list-style: none;
	padding: 0;
}

.product-detail-container img {
	width: 100%;
}

.product-appraise-container {
	width: 100%;
	display: none;
}

.product-appraise-user {
	width: auto;
	height: auto;
	padding: 3%;
	margin: 0 2% 0 2%;
}

.product-appraise-user ul {
	list-style: none;
	padding: 0;
}

.product-appraise-user ul li {
	list-style: none;
	padding-top: 2%;
	margin-top: 2%;
	border-top: 1px solid #CCCCCC;
}

.product-appraise-user img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.product-appraise-return {
	width: auto;
	height: auto;
	line-height: 30px;
	padding-left: 5px;
	margin: 0 2% 0 2%;
	background-color: #CCCCCC;
	border-radius: 2px;
}

.product-appraise-return p {
	width: auto;
	line-height: 30px;
	color: #D43F3A;
	word-break: break-all;
}