.fixed-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    height: 50px;
	background: #FFFFFF;
	z-index: 99;
}

.fixed-footer-wrapper {
	width: 100%;
	min-height: 50px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

.footer-tab-btn1 {
	width: auto;
	height: 50px;
	padding: 5px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #CCCCCC;
}

.footer-tab-btn2 {
	width: 28%;
	line-height: 50px;
	background-color: #D9534F;
	display: inline-block;
	float: right;
	text-align: center;
	color: #FFFFFF;
	font-weight: 500;
	border-right: 1px solid #CCCCCC;
}

.footer-tab-btn3 {
	width: 28%;
	line-height: 50px;
	background-color: #F0AD4E;
	display: inline-block;
	float: right;
	text-align: center;
	color: #FFFFFF;
	font-weight: 500;
	border-right: 1px solid #CCCCCC;
}