/*
 * 用户信息样式，包括用户头像和用户昵称
 **/
body {
	background-color: #FAFAFA;
}

.user-message {
	width: 100%;
	height: 90px;
	padding: 1%;
	background-color: #FC5050;
}

.user-img {
	width: auto;
	display: inline-block;
	margin-top: 10px;
}

.user-img img {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 35px;
}

.user-name {
	display: inline-block;
	margin-left: 10px;
}

.user-name p {
	width: auto;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}
/*
 * 订单操作与查询样式
 * */
.my-order-state-container {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.my-order-state-container ul {
	width: inherit;
	list-style: none;
	padding: 0;
	margin: 2% 0 0 0;
}

.my-order-state-container ul li {
	width: 24%;
	display: inline-block;
	text-align: center;
}

.my-order-state-container a {
	color: #000000;
	text-decoration: none;
}

.my-order-state-container p {
	color: #515151;
}

.my-order-list {
	width: 100%;
	height: 55px;
	display: table;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}

.my-order-list a {
	color: #000000;
	text-decoration: none;
}

.my-order-list p {
	width: auto;
	line-height: 55px;
	display: table-cell;
	font-size: 16px;
	font-weight: 300;
	padding-left: 25px;
	vertical-align: middle;
	color: #515151;
}

.my-order-list i {
	width: 5%;
	line-height: 55px;
	display: table-cell;
	vertical-align: middle;
}

.angle-to-left {
	height: auto;
	float: right;
}

.my-collection-container {
	margin-top: 5%;
}

.border-top {
	border-top: 1px solid #CCCCCC;
}

.my-setting-container {
	margin-top: 5%;
	margin-bottom: 60px;
}
