/*
 * 订单列表样式
 * */
.order-list-container {
	
}

.order-list {
	width: 100%;
	height: auto;
}

.order-list ul {
	width: 100%;
	height: auto;
	list-style: none;
	padding: 0;
}

.order-list ul li {
	width: 100%;
	height: auto;
	display: block; 
	margin-top: 15px;
	box-shadow: 2px 1px #F2F2F2; 
}

.order-no p {
	color: #CCCCCC;
	font-size: 13px;
}

.order-status p {
	color: #FF0000;
	text-align: right;
	font-size: 15px;
	font-weight: 500;
}

.order-message-container {
	margin-bottom: 5px;
}

.order-message img {
	width: 65px;
	height: 65px;
}

.order-message p {
	height: auto;
	text-align: right;
	display: block;
}

.order-total-cost p {
	float: right;
}

.product-count p {
	float: right;
}

.border-bottom-divider {
	border-bottom: 1px solid #F2F2F2;
}

.order-operator button {
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 3%;
	float: right;
	background-color: rgba(255,255,255,.3);
	border: 1px solid #CCCCCC;
}
