/*
 * 产品页header样式
 * */
body {
	background-color: #FAFAFA;
}

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 2px 2px 1px #CCCCCC;
	z-index: 99;
}

.fixed-header a {
	width: auto;
	line-height: 50px;
	color: #4D4D4D;
	text-decoration: none;
	float: left;
}

.fixed-header i {
	width: 10%;
	line-height: 50px;
}

.fixed-header p {
	line-height: 50px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	padding-right: 5%;
}

.space {
	height: 60px;
}

/*
 * 产品页footer样式
 * */
.fixed-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    height: 50px;
	background: #FFFFFF;
	z-index: 99;
}

.fixed-footer-wrapper {
	width: 100%;
	min-height: 50px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
}

.footer-tab-btn1 {
	width: auto;
	height: 50px;
	padding: 5px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #CCCCCC;
}

.footer-tab-btn2 {
	width: 28%;
	line-height: 50px;
	background-color: #D9534F;
	display: inline-block;
	float: right;
	text-align: center;
	color: #FFFFFF;
	font-weight: 500;
}

.footer-tab-btn3 {
	width: 28%;
	line-height: 50px;
	background-color: #F0AD4E;
	display: inline-block;
	float: right;
	text-align: center;
	color: #FFFFFF;
	font-weight: 500;
}

/*
 * 产品页面内容样式
 * */
.product-container {
	margin-bottom: 50px;
}
/*
 * 布局整体宽度
 * */
.container-all-width {
	width: 100%;
	padding: 0;
}

/*
 * 产品图片样式
 * */
.product-img-turn {
	width: 100%;
	height: 45%;
	background-color: #FFFFFF;
}

.product-img-turn img {
	width: 100%;
	height: 45%;
}

/*
 * 产品价格样式
 * */
.product-price-label {
	width: 100%;
	height:55px;
	background-color: #D9534F;
}

.product-price-label p {
	width: auto;
	line-height: 55px;
	margin-left: 3%;
	color: #FFFFFF;
	font-size: 20px;
	display: inline-block;
}

.price-text-small {
	font-size: 20px;
}

.price-text-large {
	font-size: 26px;
}

/*
 * 产品名称样式
 * */
.product-name-label {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}

.product-name-label p {
	width: auto;
	line-height: 50px;
	font-size: 18px;
	margin-left: 3%;
}

/*
 * 产品销售信息样式
 * */
.product-sales-volume {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.product-sales-volume p {
	width: auto;
	line-height: 50px;
	display: inline-block;
	color: #515151;
}

.product-transport-fare {
	display: inline-block;
	margin-left: 3%;
}

.product-sales-fare {
	display: inline-block;
	margin-left: 30%;
}

/*
 * 产品规格选择样式
 * */
.product-standard {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.product-standard p {
	line-height: 50px;
	margin-left: 3%;
	color: #515151;
	display: inline-block;
}

.product-standard i {
	line-height: 50px;
	margin-right: 3%;
	float: right;
}

/*
 * 产品详情样式
 * */
.product-detail-container {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #CCCCCC;
}

.product-detail-appraise-title {
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #FFFFFF;	
}

.product-detail-appraise-title p {
	width: auto;
	line-height: 45px;
	text-align: center;
	display: inline-block;
}

.product-tab-title-bottom-line {
	border-bottom: 2px solid #D9534F;
}

.product-detail-container ul {
	list-style: none;
	padding: 0;
}

.product-detail-container img {
	width: 100%;
}

/*
 * 产品评价样式
 * */
.product-appraise-container {
	width: 100%;
	height: auto;
}

.product-appraise-user {
	width: auto;
	height: auto;
	padding: 3%;
	margin: 0 2% 0 2%;
}

.product-appraise-user ul {
	list-style: none;
	padding: 0;
}

.product-appraise-user ul li {
	list-style: none;
	padding-top: 2%;
	margin-top: 2%;
	border-top: 1px solid #CCCCCC;
}

.product-appraise-user img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.product-appraise-return {
	width: auto;
	height: auto;
	line-height: 30px;
	padding-left: 5px;
	margin: 0 2% 0 2%;
	background-color: #CCCCCC;
	border-radius: 2px;
}

.product-appraise-return p {
	width: auto;
	line-height: 30px;
	color: #D43F3A;
	word-break: break-all;
}